*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(206, 145, 145);
}

.choice{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 4rem;
}

#user, #comp {
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(48, 79, 69);
    color: black;
    display: inline;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}